@import './css/reset.css';
@import './css/sidebar.css';

:root {
  color-scheme: light dark;
  --color-accent: light-dark(teal, goldenrod);
}

body {
  background-color: canvas;
  color: canvasText;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

.sidebar {
  background-color: light-dark(#eee, #333);
  color: light-dark(dimgray, whitesmoke);
  border-right: 2px solid var(--color-accent);
}

.sidebar-content {
  padding-block: 2vh;
  padding-inline: 2ch;
}

.main-content {
  padding-block: 2vh;
  padding-inline: 4ch;
}

.sidebar summary {
  display: flex;
  user-select: none;
}

.sidebar summary button:first-child {
  margin-inline-start: auto;
}
