{% extends "layouts/base.njk" %} {% block head %}
<title>Homepage</title>
<link rel="stylesheet" href="/css/styles.css" />
{% endblock %} {% block sidebar %} {% endblock %} {% block content %}
<h1>Welcome to the Homepage</h1>
<p>This is where the magic happens 🪄</p>
{% endblock %}
